<section class="flex flex-col md:flex-row gap-5">
  <div class="card bg-base-200 w-1/3 py-5 px-10 flex flex-col gap-2 h-fit">
    <div class="flex justify-center">
      <img
        *ngIf="user?.avatar; else avatar"
        class="w-[4rem]"
        [src]="user.avatar"
        alt="profile-pic"
      />
      <ng-template #avatar>
        <i class="fas fa-user-circle text-[4rem]"></i>
      </ng-template>
    </div>
    <div
      class="text-center text-xl font-semibold flex flex-col gap-1 justify-center items-center"
    >
      <div>
        {{ user.firstname }} <span class="uppercase">{{ user.lastname }}</span>
      </div>
      <div *ngIf="user?.admin; else userRole" class="badge badge-primary">
        Admin
      </div>
      <ng-template #userRole>
        <div class="badge badge-secondary">Utilisateur</div>
      </ng-template>
    </div>
    <div
      class="flex flex-col border-t-2 border-neutral-content mt-3 pt-5 gap-3"
    >
      <div class="flex flex-col gap-1">
        <span class="text-sm font-semibold">E-mail</span>
        <p class="bg-white px-3 py-1 rounded-md">{{ user.email }}</p>
      </div>
      <div class="card-actions mt-3">
        <button class="btn btn-primary w-full" (click)="editUser()">
          Mofifier
        </button>
      </div>
    </div>
  </div>
  <div class="w-full card bg-base-200 px-3 py-6">
    <h1 class="text-3xl mb-3 font-bold mx-auto">Recapitulatif du jour</h1>
    <h2 class="text-xl mb-3 font-semibold mx-auto">{{ getDate() }}</h2>
    <div class="stats shadow">
      <div class="stat place-items-center">
        <div class="stat-title">Aliments</div>
        <div class="stat-value">
          {{
            breakfastFoods.length +
              lunchFoods.length +
              dinnerFoods.length +
              snackFoods.length
          }}
        </div>
      </div>

      <div class="stat place-items-center">
        <div class="stat-title">Calories</div>
        <div class="stat-value text-secondary">
          {{
            getTotalCalories(breakfastFoods) +
              getTotalCalories(lunchFoods) +
              getTotalCalories(dinnerFoods) +
              getTotalCalories(snackFoods)
          }}
        </div>
      </div>

      <div class="stat place-items-center">
        <div class="stat-title">Repas</div>
        <div class="stat-value">{{ Meals.length }}</div>
      </div>
    </div>
    <div class="flex gap-3 flex-wrap justify-center mt-3">
      <div class="w-[280px] md:w-[380px]" *ngIf="breakfast">
        <h3 class="text-lg font-semibold mx-auto">Petit déjeuné</h3>
        <canvas id="doughnutChart"></canvas>
      </div>
      <div class="w-[280px] md:w-[380px]" *ngIf="lunch">
        <h3 class="text-lg font-semibold mx-auto">Déjeuné</h3>
        <canvas id="doughnutChart2"></canvas>
      </div>

      <div class="w-[280px] md:w-[380px]" *ngIf="dinner">
        <h3 class="text-lg font-semibold mx-auto">Diner</h3>
        <canvas id="doughnutChart3"></canvas>
      </div>

      <div class="w-[280px] md:w-[380px]" *gnIf="snack">
        <h3 class="text-lg font-semibold mx-auto">Collation</h3>
        <canvas id="doughnutChart4"></canvas>
      </div>
    </div>
  </div>
</section>
