<div class="hero rounded-lg bg-base-200">
  <div class="hero-content flex-col lg:flex-row">
    <img src="./assets/hero.jpg" class="max-w-sm rounded-lg shadow-2xl" />
    <div>
      <h1 class="text-5xl font-bold">
        Bienvenu sur <span class="text-primary">FoodyApp</span>
      </h1>
      <p class="py-6">
        Grâce à FoodyApp, vous pouvez a travers différentes fonctionnalités, vous pouvez gérer votre alimentation, votre poids, votre activité physique et votre santé.
      </p>
      <a  routerLink="/register" class="btn btn-primary">
        Découvrir FoodyApp
      </a>
    </div>
  </div>
</div>