<div class="hero min-h-screen rounded-lg bg-base-200">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <div class="text-center lg:text-left">
      <h1 class="text-5xl font-bold">
        Portail de connexion
      </h1>
      <p class="py-6">
        Nous sommes ravis de vous revoir!
        Connecter vous pour accéder à votre espace personnel et profiter de nos services.
      </p>
    </div>
    <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
      <div class="card-body">
        <div class="form-control">
          <label class="label">
            <span class="label-text">E-mail</span>
          </label>
          <input type="text" placeholder="e-mail" class="input input-bordered" />
        </div>
        <div class="form-control">
          <label class="label">
            <span class="label-text">Mot de passe</span>
          </label>
          <input type="text" placeholder="mot de passe" class="input input-bordered" />
          <label class="label">
            <a href="#" class="label-text-alt link link-hover">Mot de passe oublié?</a>
          </label>
        </div>
        <div class="form-control mt-6">
          <button class="btn btn-primary">Connexion</button>
        </div>
      </div>
    </div>
  </div>
</div>