<div class="hero min-h-screen rounded-lg bg-base-200">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <div class="text-center lg:text-left">
      <h1 class="text-5xl font-bold">
        Portail de connexion
      </h1>
      <p class="py-6">
        Nous sommes ravis de vous revoir!
        Connecter vous pour accéder à votre espace personnel et profiter de nos services.
      </p>
    </div>
    <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
      <form class="card-body" (ngSubmit)="signIn()" [formGroup]="loginForm">
        <div class="form-control">
          <label class="label">
            <span class="label-text">E-mail</span>
            <span class="label-text text-error"
              *ngIf="loginForm.get('email')?.hasError('required') && loginForm.get('email')?.touched">requis</span>
          </label>
          <input type="text" placeholder="e-mail" class="input input-bordered" formControlName="email" />
          <label class="label">
            <span class="label-text-alt text-error"
              *ngIf="loginForm.get('email')?.hasError('email') && loginForm.get('email')?.touched">E-mail
              incorrect</span>
          </label>
        </div>
        <div class="form-control">
          <label class="label">
            <span class="label-text">Mot de passe</span>
            <span class="label-text text-error"
              *ngIf="loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched">requis</span>
          </label>
          <input type="password" placeholder="mot de passe" class="input input-bordered" formControlName="password" />
          <label class="label">
            <span class="label-text-alt text-error"
              *ngIf="loginForm.get('password')?.hasError('minlength') && loginForm.get('password')?.touched">Doit
              contenir 3 caractères minimum.
            </span>
            <a href="#" class="label-text-alt link link-hover">Mot de passe oublié?</a>
          </label>
        </div>
        <div class="form-control mt-6">
          <button class="btn btn-primary" type="submit">Connexion</button>
          <a routerLink="/register" class="text-neutral hover:text-primary link link-hover text-sm m-auto">
            Je n'ai pas de compte, je m'inscris.
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
